DATABASE_URL="mysql://USER:PASSWORD@HOST:3306/DATABASE"

RESEND_API_KEY="re_replace_with_a_new_key"

EMAIL_FROM="We Support Her <notifications@wesupporther.org>"
VOLUNTEER_NOTIFICATION_EMAIL="zainab.ajao@wesupporther.org"
ADMIN_DASHBOARD_URL="https://www.wesupporther.org/admin/volunteer-applications"
EMAIL_LOGO_URL="https://www.wesupporther.org/path-to-public-logo.png"


GA4_PROPERTY_ID=
GA4_CLIENT_EMAIL=
GA4_PRIVATE_KEY=


JWT_SECRET="replace-with-a-secure-secret"
PORT=3000
